<a href="https://colab.research.google.com/github/UmangSonika/SDE/blob/main/Review_SDE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analysis and Implementation

In [1]:
pip install google-play-scraper

Collecting google-play-scraper
  Downloading google-play-scraper-1.0.3.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.2 MB/s
Building wheels for collected packages: google-play-scraper
  Building wheel for google-play-scraper (setup.py) ... done
  Created wheel for google-play-scraper: filename=google_play_scraper-1.0.3-py3-none-any.whl size=24394 sha256=784612d57a55bd4e35c21edcf4dee9b473b98fb845ccec7710f2e0eeb0578b75
  Stored in directory: /root/.cache/pip/wheels/81/37/0b/4a14be55b449a048cd93d79930b1a980dee7896480defa1923
Successfully built google-play-scraper
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.0.3

In [2]:
from google_play_scraper import app
import pandas as pd
import numpy as np
from google_play_scraper import Sort, reviews_all

In [3]:
reviews_final = reviews_all(
    'com.sportstoday',sleep_milliseconds=0, lang='en', country='us', sort=Sort.NEWEST,
)

In [4]:
df = pd.DataFrame(np.array(reviews_final),columns=['review'])
df = df.join(pd.DataFrame(df.pop('review').tolist()))
df.head(4)

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,gp:AOqpTOHykfV_r7n8ReN67jycq6UINAeQ9xHlcPBnMoG...,manjeet kandari,https://play-lh.googleusercontent.com/a/AATXAJ...,Working very slow,1,0,1.9.2,2022-04-19 17:00:43,None,NaT
1,gp:AOqpTOGwn3NIqh8dNv4BrCFEBi4YXwq1P0Q3pS76hJ9...,Sumit Yadav,https://play-lh.googleusercontent.com/a/AATXAJ...,Love from Nepal Vikrant sir&whole team of spor...,5,0,1.9.3,2022-04-19 16:11:05,None,NaT
2,gp:AOqpTOEib52V2__vGB1ws_C4ITxn2CGgOOtIcQ5VFyV...,Narshima P.,https://play-lh.googleusercontent.com/a/AATXAJ...,Kgf,5,0,1.9.1,2022-04-19 14:10:25,None,NaT
3,gp:AOqpTOFvap-AewkZ5N3JJ_irBSyCdHU7AdP8Ghk8LfY...,Aakash Arya,https://play-lh.googleusercontent.com/a/AATXAJ...,Luv u vikrant sir,5,0,None,2022-04-18 16:07:48,None,NaT

In [5]:
new_df=df[['content', 'score']]

In [6]:
new_df.head()

                                             content  score
0                                  Working very slow      1
1  Love from Nepal Vikrant sir&whole team of spor...      5
2                                                Kgf      5
3                                  Luv u vikrant sir      5
4                               very nice sports tak      5

In [7]:
new_df.to_csv('review.csv')

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
df2 = pd.read_csv('review.csv')
df2.head()

   Unnamed: 0                                            content  score
0           0                                  Working very slow      1
1           1  Love from Nepal Vikrant sir&whole team of spor...      5
2           2                                                Kgf      5
3           3                                  Luv u vikrant sir      5
4           4                               very nice sports tak      5

In [10]:
def data_clean(data):
    data = data.drop('Unnamed: 0', axis=1)
    data['content'] = data['content'].str.strip().str.lower()
    return data

df2 = data_clean(df2)

In [11]:
df2.head(6)

                                             content  score
0                                  working very slow      1
1  love from nepal vikrant sir&whole team of spor...      5
2                                                kgf      5
3                                  luv u vikrant sir      5
4                               very nice sports tak      5
5                                      very nice app      5

In [12]:
df2['rating'] = np.where(df2['score']>=3, 1, 0)
df2.head()

                                             content  score  rating
0                                  working very slow      1       0
1  love from nepal vikrant sir&whole team of spor...      5       1
2                                                kgf      5       1
3                                  luv u vikrant sir      5       1
4                               very nice sports tak      5       1

In [13]:
X = df2['content']
Y = df2['rating']
X, X_test, Y, Y_test = train_test_split(X,Y, stratify=Y, test_size=0.25, random_state=42)

In [14]:
vectorized = CountVectorizer(stop_words='english')
X = vectorized.fit_transform(X).toarray()
X_test = vectorized.transform(X_test).toarray()

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
model = MultinomialNB()
model.fit(X, Y)

MultinomialNB()

In [17]:
model.score(X_test, Y_test)

0.8744075829383886

In [18]:
model.predict(vectorized.transform(['This app is very good']))

array([1])

In [22]:
model.predict(vectorized.transform(['Bad app']))

array([0])