<a href="https://colab.research.google.com/github/UmangSonika/SDE/blob/main/Review_SDE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install google-play-scraper

Requirement already satisfied: google-play-scraper in /usr/local/lib/python3.7/dist-packages (1.0.3)

In [ ]:
from google_play_scraper import app
import pandas as pd
import numpy as np
from google_play_scraper import Sort, reviews_all

In [ ]:
us_reviews = reviews_all(
    'com.sportstoday',sleep_milliseconds=0, lang='en', country='us', sort=Sort.NEWEST,
)

In [ ]:
df = pd.DataFrame(np.array(us_reviews),columns=['review'])
df = df.join(pd.DataFrame(df.pop('review').tolist()))
df.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt
0,gp:AOqpTOHykfV_r7n8ReN67jycq6UINAeQ9xHlcPBnMoG...,manjeet kandari,https://play-lh.googleusercontent.com/a/AATXAJ...,Working very slow,1,0,1.9.2,2022-04-19 17:00:43,None,NaT
1,gp:AOqpTOGwn3NIqh8dNv4BrCFEBi4YXwq1P0Q3pS76hJ9...,Sumit Yadav,https://play-lh.googleusercontent.com/a/AATXAJ...,Love from Nepal Vikrant sir&whole team of spor...,5,0,1.9.3,2022-04-19 16:11:05,None,NaT
2,gp:AOqpTOEib52V2__vGB1ws_C4ITxn2CGgOOtIcQ5VFyV...,Narshima P.,https://play-lh.googleusercontent.com/a/AATXAJ...,Kgf,5,0,1.9.1,2022-04-19 14:10:25,None,NaT
3,gp:AOqpTOFvap-AewkZ5N3JJ_irBSyCdHU7AdP8Ghk8LfY...,Aakash Arya,https://play-lh.googleusercontent.com/a/AATXAJ...,Luv u vikrant sir,5,0,None,2022-04-18 16:07:48,None,NaT
4,gp:AOqpTOGqR5FJgZVmvaOrf-tpQt-eadCiaCUs9GhpwoF...,cricket fans,https://play-lh.googleusercontent.com/a-/AOh14...,very nice sports tak,5,0,1.9.2,2022-04-18 13:25:43,Thanks :),2022-03-31 09:53:22

In [ ]:
new_df=df[['content', 'score']]

In [ ]:
new_df.head()

                                             content  score
0                                  Working very slow      1
1  Love from Nepal Vikrant sir&whole team of spor...      5
2                                                Kgf      5
3                                  Luv u vikrant sir      5
4                               very nice sports tak      5

In [ ]:
new_df.to_csv('review.csv')

Analysis

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import joblib
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
data = pd.read_csv('review.csv')
data.head()

   Unnamed: 0                                            content  score
0           0                                  Working very slow      1
1           1  Love from Nepal Vikrant sir&whole team of spor...      5
2           2                                                Kgf      5
3           3                                  Luv u vikrant sir      5
4           4                               very nice sports tak      5

In [ ]:
def preprocess_data(data):
    # Remove package name as it's not relevant
    data = data.drop('Unnamed: 0', axis=1)
    
    # Convert text to lowercase
    data['content'] = data['content'].str.strip().str.lower()
    return data

data = preprocess_data(data)

In [ ]:
data.head()

                                             content  score
0                                  working very slow      1
1  love from nepal vikrant sir&whole team of spor...      5
2                                                kgf      5
3                                  luv u vikrant sir      5
4                               very nice sports tak      5

In [ ]:
data['rating'] = np.where(data['score']>=3, 1, 0)
data.head()

                                             content  score  rating
0                                  working very slow      1       0
1  love from nepal vikrant sir&whole team of spor...      5       1
2                                                kgf      5       1
3                                  luv u vikrant sir      5       1
4                               very nice sports tak      5       1

In [ ]:
x = data['content']
y = data['rating']
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.25, random_state=42)

In [ ]:
vec = CountVectorizer(stop_words='english')
x = vec.fit_transform(x).toarray()
x_test = vec.transform(x_test).toarray()

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x, y)

MultinomialNB()

In [ ]:
model.score(x_test, y_test)

0.8744075829383886

In [ ]:
model.predict(vec.transform(['Love this app simply awesome!']))

array([1])